# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/
.idea/
*.swp

# runtime data
coverage/